/* Import fonts */
@font-face {
  font-family: laoriental;
  src: url('fonts/LaOriental.otf');
}

@font-face {
  font-family: catcafe;
  src: url('fonts/CatCafe.ttf');
}

@font-face {
  font-family: blackpine;
  src: url('fonts/Blackpine.ttf');
}

@font-face {
  font-family: jelytta;
  src: url('fonts/Jelytta.ttf');
}
/* End import fonts */

/* Variables */
:root {
  --primary-color: white;
  --secondary-color: #f90817;
  --default-color: black;

  --box-shadow-primary: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
  --box-shadow-primary-hover: 4px 4px 25px black, inset 2px 2px 2px 10px rgb(0, 0, 20);

  --weather-bg-fade-color: #96adcfe6;
  --weather-light-bg-color: #b5c6e0;
  --weather-bg-color: #a6b9d9;
  --weather-dark-bg-color: #96adcf;
  --weather-dark-font-color: #647dad;

  --card-main-border-radius: 15px;
  --places-card-context-padding: 0 0 5px 0;

  --backddrop-color: #000000eb;

}
/* End variables */

/* global style */
body {
  padding: 0;
  margin: 0;
  font-family: catcafe;
}